@import "tailwindcss";

@theme {
  --color-bv-void: #0E0C0A;
  --color-bv-vault: #1A1714;
  --color-bv-ash: #E8E0D0;
  --color-bv-fog: #8A8070;
  --color-bv-blood: #C0392B;
  --color-bv-gold: #D4A843;
  --color-bv-dust: #3D3B2F;

  --font-display: 'Special Elite', cursive;
  --font-body: 'Syne', sans-serif;
}

/* * {
  font-family: var(--font-body);
} */

h1, h2, h3 {
  font-family: var(--font-display);
}

body {
  background-color: #0E0C0A;
  margin: 0;
}